#headerItems {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

#emailCheck{
  margin-right: 10px;
}

#domainCheck{
  margin-right: 10px;
}

#passCheck{
  margin-right: 10px;
}

.MainData{
  border: 2px solid black;

}

.breachedEmailListing{
  padding-bottom: 4px;
  padding-left: 10px;
}